@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Oswald&display=swap");
h1 {
  margin:  10px;
  font-family: "Audiowide", cursive;
}
.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.items {
  margin-right: 5px;
  list-style: none;
  display: flex;
  flex-direction: row;

}

li a {
  margin: 5px;
  text-decoration: none;
  color: white;
  font-size: 24px;
}

.active {
  transition: 0.6s;
  border-bottom: 5px solid lightblue;
}
