body {
  box-sizing: border-box;
  color: whitesmoke;
  text-align: center;
  overflow-x: hidden;
  margin: 0;
  padding:  0;
}

.title {
  background-color: #357ded;
  margin: 7px;
  padding: 15px;
  display: block;
  color: white; 
  font-size: 30px; 
  text-decoration: none;
  border-radius: 80px;
}
.title-inactive {
  background-color: darkblue;
  margin: 7px;
  padding: 15px;
  display: block;
  color: white; 
  font-size: 30px; 
  text-decoration: none;
  border-radius: 80px;
}

.active {
  background-color: #357ded;
  margin: 7px;
  display: block;
  color: white; 
  font-size: 23px; 
  text-decoration: none;
  border-radius: 7px;
  height: 40px;
  line-height: 40px;
  padding:  5px;
}
.inactive {
  text-decoration: none; 
  color: white; 
  font-size: 20px; 
  margin: 7px;
  padding: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, black 50%, #1850AB 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}
.bg3 {
  animation-duration: 5s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
